:root {
	--buttonColor: #FBD214;
}

.btn {
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.6s;
	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
	-moz-transition-duration: 0.6s;
	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body {
	font-family: 'Open Sans', sans-serif;
}


.btn {
	position: relative;
	display: inline-block;
	width: 166px;
	height: 45px;
	font-size: 17px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
}
.btn svg {
	position: absolute;
	top: 0; left: 0;
}
.btn svg rect {
	fill: none;
	stroke: var(--buttonColor);
	stroke-width: 1;
	stroke-dasharray: 422, 0;
	transition: all 0.35s linear; /* The speed on hover out*/
	@include transition(all 1300ms $ease-out-expo);
}
.btn:hover svg rect {
	stroke-width: 5;
	stroke-dasharray: 10, 310;
	stroke-dashoffset: 33;
	transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); /* The speed on hover */
}

.btn:hover {
	color: var(--buttonColor);
	font-size:20px;
	letter-spacing:1px;
	font-weight:bold;
}
