:root {
	--mainColor: #FBD214;
	--textColor: #b0b0b0;
	--backgroundColor1: #18222A;
    --backgroundColor2: #1d272f;
}

* {
	margin: 0px;
    padding: 0px;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.main-container {
	width: 1200px;
	display: flex;
    flex-direction: row;
	height: 100%;
    align-items: center;
}

/* ~~~~~~~~~~ HEADER ~~~~~~~~~~ */
header {
	display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    justify-content: center;
    background-color: var(--backgroundColor1);
    padding: 10px 0px;
    position: fixed;
    z-index: 1;
}

/* ~~~~~~~~~~ LOGO ~~~~~~~~~~ */
#logo-container img {
    width: 80px;
    -webkit-user-drag: none;
	user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ~~~~~~~~~~ NAVIGATION BAR ~~~~~~~~~~ */
#nav-container {
	width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul {
	display: flex;
    flex-direction: row;
    column-gap: 50px;
	width: -moz-fit-content;
	width: fit-content;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

nav div {
    width: 57px;
    height: 1px;
    background-color: var(--textColor);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

nav li { 
	list-style: none; /* remove the dots from the list*/
	padding: 10px 0px;
}

nav a {
  font-size: 14px;
  text-decoration: none;
  position: relative;
  color: white;
  padding: 5px 0px;
  font-family: "Lato", sans-serif;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FBD214;
  transition: width 0.25s ease-in-out, transform 0.25s ease-in-out; /* Add a transition for the transform property */
  transform: scaleX(0);
  transform-origin: left;
}

nav a:hover::after {
  width: 50%;
  transform: scaleX(1);
}

nav a:not(:hover)::after { /* Add this selector for the border to return to 0 width when the link is not hovered */
  width: 0;
}

.underline.active::after {
	width: 50%;
	transform: scaleX(1);
}


/* ~~~~~~~~~~ HOME SECTION ~~~~~~~~~~ */
section#home {
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor1);
    width: -webkit-fill-available;
    height: 85vh;
}

#home .left-content {
	width: 500px;
    border-bottom: 1px solid #ffffff90;
    padding-bottom: 37px;
	padding-left: 20px;
}

#home .left-content .left-border {
	background-color: #ffffff90;
    height: 400px;
    width: 1px;
    position: absolute;
    margin-left: -34px;
    transform: skew(4deg);
}

h1 {
	color: white;
	font-size: 70px;
	font-family: "Palanquin", sans-serif;
}

h2 {
	color: #CCCCCC;
	font-size: 23px;
	margin-top: 10px;
	width: 350px;
	font-family: "Roboto Condensed", sans-serif;
	letter-spacing: 2px;
}


#home .left-content .btn{
	margin-top: 70px;
}

#home .right-content {
	width: -webkit-fill-available;
    display: flex;
    justify-content: flex-end;
	align-items: flex-end;
	height: 100%;
}

#home .right-content img {
	height: 550px;
	width: auto;
    -webkit-user-drag: none;
	user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ~~~~~~~~~~ ABOUT SECTION ~~~~~~~~~~ */
section#about {
	background-color: var(--backgroundColor2);	
	display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: 80vh;
}

#about .main-container {
	background-color: var(--backgroundColor2);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}

#about .left-content img {
	width: 300px;
    mix-blend-mode: lighten;
    filter: grayscale(1);
	opacity: 0.15;
    -webkit-user-drag: none;
	user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#about .left-content h2 {
	font-size: 40px;
}

#about .left-content div {
	position: absolute;
    font-size: 40px;
    color: #CCCCCC;
    margin-top: -200px;
    margin-left: 220px;
}

#about .left-content div div {
	border-bottom: 4px solid var(--mainColor);
    width: 70px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}

#about article p {
	margin-top: 25px;
	color: var(--textColor);
	font-family: "Quicksand", sans-serif;
	font-size: 17px;
}

#about .right-content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

#about .right-content .top-border {
	width: 274px;
    height: 1px;
    background-color: #ffffff59;
    align-self: self-end;
}

#about .right-content .right-border {
	width: 1px;
    height: 248px;
    background-color: #ffffff59;
    align-self: self-end;
	position: absolute;
}

#about .right-content article {
	width: 600px;
    margin: 30px 50px 0px 0px;
}

#about .right-content div div{
	margin: 40px 40px 0px 0px;
}


/* ~~~~~~~~~~ PROJECTS ~~~~~~~~~~ */

section#projects {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: var(--backgroundColor1);
  padding-top: 78px;
}

#projects .main-container {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#projects h2 {
	text-align: center;
	font-size: 45px;
	margin: 40px;
}

#projects p {
	color: var(--textColor);
}

#projects .about-projects {
	width: 60%;
}

#projects-main-content {
  width: 1200px;
  margin-top: 50px;
}

.tab {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #CCCCCC;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: var(--mainColor);
}

/* Create an active/current tablink class */
.tab button.active {
  color: var(--mainColor);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#mobile-app-projects, #website-projects, #desktop-projects, #other-projects {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 20px 100px 0px 100px;
}

#projects .finished-project .picture {
	width: -moz-fit-content;
	width: fit-content;
	padding: 15px;
}

#projects .finished-project .picture img {
	width: 250px;
	height: 200px;
	object-fit: cover;
}

#projects .finished-project .description {
	width: 250px;
	margin-top: 20px;
	padding: 0px 0px 0px 15px;
}


/* ~~~~~~~~~~ SKILLS ~~~~~~~~~~ */

section#skills {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: var(--backgroundColor2);
	color: var(--textColor);
	width: -webkit-fill-available;
	height: 50vh;
}

#skills .main-container {
	justify-content: center;
}

#skills .left-content {
    margin-right: 150px;
}

#skills .left-content div div {
	border-bottom: 4px solid var(--mainColor);
    width: 45px;
    position: absolute;
    margin-top: 85px;
    margin-left: 74px;
}


#skills .left-content h2 {
	font-size: 45px;
    position: absolute;
    margin-top: 35px;
    margin-left: 70px;
}

#skills .left-content img {
	width: 160px;
    mix-blend-mode: lighten;
    filter: grayscale(1);
    opacity: 0.15;
    -webkit-user-drag: none;
	user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#skills .right-content img {
	width: 60px;
}

#skills .right-content .skill-icons {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    width: 300px;
}



/* ~~~~~~~~~~ CONTACT ~~~~~~~~~~ */

section#contact {
	display: flex;
	flex-direction: row;
	background-color: var(--backgroundColor1);
	width: -webkit-fill-available;
	justify-content: center;
	height: 80vh;
}

#contact .main-container {
	justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact .left-content {
	color: var(--textColor);
	width: 300px;
}

#contact .left-content h3 {
	color: #CCCCCC;
	font-size: 35px;
	margin-bottom: 20px;
}

#contact .left-content p {
    font-size: 17px;
}

#form label {
    margin-top: 30px;
    margin-bottom: 5px;
}

#form input {
  height: 30px;
}

#form {
	display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background-color: #101b23;
    width: 500px;
    height: 500px;
    justify-content: center;
    box-shadow: inset 0px 0px 10px 4px #0d151b;
}

#form p {
    text-align: center;
    font-size: 32px;
}

#form .rows {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: -webkit-fill-available;
}

#form .column {
  display: inline-grid;
  justify-items: start;
}

#form .second-row.rows .column {
  width: -webkit-fill-available;
}

#form .second-row.rows input {
  width: -webkit-fill-available;
}

#form .fourth-row.rows .column {
  width: 100%;
}

#form .fourth-row.rows button {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  background-color: #343a40;
  color: white;
  border: 0px;
  font-size: 18px;
  letter-spacing: 1px;
}

#form .fourth-row.rows button:hover {
    background-color: #eec815;
    color: black;
}

#form .fourth-row.rows.btn {
    margin-top: 10px;
}

#form textarea {
	resize: none;
	width: 366px;
}

#submited {
	width: 100%;
    display: flex;
    justify-content: center;
}

#submited p {
    display: none;
    height: 433px;
    width: 428px;
    position: absolute;
    background-color: #101b23;
    align-items: center;
}

/* Fade in */
.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade Out */
.fadeOut {
  opacity: 1;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}