* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #101522;
  --primary-color: #ffd877; 
  --secondary-color: #af8c78;
  --hover-color: #ffc107;
}

html, body {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  color: white;
  font-family: "Brawler", Times, serif;  
}

aside {
  min-width: 220px;
  flex-grow: 1;
}

span {
  color: var(--primary-color);
}

/* ~~~~~~~~~~ HEADER ~~~~~~~~~~ */
.mobile-header {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 110px;
  width: -webkit-fill-available;
  color: white;
  align-items: center;
}

#logo img {
  margin: 0px 46px;
  width: 130px;
  height: auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -webkit-fill-available;
}

nav #active {
  color: var(--primary-color)
}

nav #active:hover {
  color: var(--hover-color);
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: -webkit-fill-available;
  list-style: none;
  margin: 0;
  padding: 0;
       
}

nav ul li {
  font-size: 27px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--hover-color);
}

.contact-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

button {
  width: 180px;
  height: 50px;
  font-size: 24px;
  background: rgb(255,236,188);
  background: linear-gradient(90deg, rgba(255,236,188,1) 0%, rgba(255,216,119,1) 100%);
  border-radius: 20px;
}

.translate p {
  color: var(--primary-color);
  position: absolute;
  font-size: 24px;
  transform: translate(75px, -95px);
}

#section-title {
  align-self: center;
  font-size: 50px;
  margin: 85px 0px;
}


/* ~~~~~~~~~~ HOME ~~~~~~~~~~ */

#home {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-image: url('media/background-picture.png');
  background-position: center;
  background-size: contain;
}

#home main {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: -webkit-fill-available;
  align-items: center;
}

#home .main-content {
  flex-grow: 2;
}

#home .main-content h1 {
  font-size: 100px;
  font-weight: normal;
  color: var(--primary-color);
}

#home .main-content p {
  max-width: 870px;
}

#home .main-content button {
  width: fit-content;
  padding: 0px 40px;
  margin-top: 75px;
}

/* ~~~~~~~~~~ ABOUT ~~~~~~~~~~ */

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#about .main {
  display: flex;
  flex-direction: row;
  align-self: center;
}

#profile-picture-container {
  width: 501px;
  height: 637px;
  border: 11px solid var(--secondary-color);
}

#profile-picture {
  width: 501px;
  height: 637px;
  margin-left: -30px;
  margin-top: -30px;
}

#about-me-text-container {
  font-size: 30px;
  margin-left: 120px;
}

#first-paragraph {
  width: 1000px;
  border: 4px solid var(--secondary-color);
  padding: 20px 30px;
  margin-bottom: 40px;
}

#second-paragraph {
  width: 765px;
  border: 4px solid var(--secondary-color);
  padding: 20px 30px;
  margin-bottom: 40px;
  margin-left: 425px;
}

#third-paragraph {
  width: 706px;
  border: 4px solid var(--secondary-color);
  padding: 20px 30px;
  margin-bottom: 40px;
  margin-left: 50px;
}

#fourth-paragraph {
  width: 690px;
  border: 4px solid var(--secondary-color);
  padding: 20px 30px;
  margin-bottom: 40px;
  margin-left: 310px;
}






/* If screen width is less than 1500px the size is 40% less */
@media screen and (max-width: 1500px) {
  #logo img {
    width: 87px;
  }
  
  header nav ul li {
    font-size: 18px;
  }

  header .contact-button {
    margin-right: 48px;
  }
  
  header button {
    width: 120px;
    height: 40px;
    font-size: 18px;
  }
  
  #home main {
    font-size: 30px;
  }
  
  #home .main-content h1 {
    font-size: 75px;
  }

  #home .main-content p {
    max-width: 520px;
  }

  aside {
    min-width: 132px;
  }
}


/* If screen width is less than 804px remove the asides */
@media screen and (max-width: 804px) {
  #home main {
    width: -webkit-fill-available;
  }

  aside {
    display: none;
  }

  #home .main-content {
    min-width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 0% 10%;
  }

  #home .main-content h1 {
    font-size: 65px;
  }
  
  #home .main-content p {
    max-width: 500px;
  }
}

