* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #101522;
  --primary-color: #ffd877; 
  --secondary-color: #af8c78;
}

html, body {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  color: white;
  font-family: "Brawler", Times, serif;  
}

/* ~~~~~~~~~~ HEADER ~~~~~~~~~~ */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 110px;
  width: -webkit-fill-available;
  color: white;
  align-items: center;
}

#logo {
  width: -webkit-fill-available;
}

#logo img {
  margin: 0px 46px;
  width: 145px;
  height: auto;
}

nav {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: -webkit-fill-available;
  min-width: fit-content;
}

nav ul {
  display: flex;
  flex-direction: row;
  column-gap: 220px;
  list-style: none;
  text-decoration: none;
  font-size: 30px;
}

nav ul li {
  align-self: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.contact-button {
  width: -webkit-fill-available;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

button {
  width: 180px;
  height: 63px;
  font-size: 30px;
  background: rgb(255,236,188);
  background: linear-gradient(90deg, rgba(255,236,188,1) 0%, rgba(255,216,119,1) 100%);
  border-radius: 20px;
}

.translate p {
  color: var(--primary-color);
  position: absolute;
  font-size: 24px;
  transform: translate(75px, -95px);
}


/* ~~~~~~~~~~ HOME ~~~~~~~~~~ */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-image: url('media/background-picture.png');
  background-position: center;
  background-size: contain;
}

#home main {
  font-size: 50px;
  max-width: 1000px;
  display: flex;
  height: -webkit-fill-available;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

#home main h1 {
  font-size: 120px;
  color: var(--primary-color);
}

#home main p {
  max-width: 870px;
}

#home main span {
  color: var(--primary-color);
}

#home main button {
  width: fit-content;
  padding: 0px 40px;
  margin-top: 75px;
}


/* ~~~~~~~~~~ ABOUT ~~~~~~~~~~ */

#about {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 60px
}

#profile-picture-container {
  width: 501px;
  height: 637px;
  border: 11px solid var(--secondary-color);
}

#profile-picture {
  width: 501px;
  height: 637px;
  margin-left: -30px;
  margin-top: -30px;
}

#about-me-text-container {
  font-size: 30px;
  margin-left: 120px;
}

#first-paragraph {
  width: 1000px;
  border: 4px solid var(--secondary-color);
  padding: 20px 30px;
  margin-bottom: 40px;
}

#second-paragraph {
  width: 765px;
  border: 4px solid var(--secondary-color);
  padding: 20px 30px;
  margin-bottom: 40px;
  margin-left: 425px;
}

#third-paragraph {
  width: 706px;
  border: 4px solid var(--secondary-color);
  padding: 20px 30px;
  margin-bottom: 40px;
  margin-left: 50px;
}

#fourth-paragraph {
  width: 690px;
  border: 4px solid var(--secondary-color);
  padding: 20px 30px;
  margin-bottom: 40px;
  margin-left: 310px;
}